<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyxy.mapper.FoodsMapper">

    <select id="findResFoods" resultType="com.cyxy.entity.vo.CyFoodsVo">
       select cyfoods.id,cyfoods.name,cyfoods.price,cyfoods.stock,cyfoods.uid,cyimageinfo.url
       from cyfoods,cyimageinfo
       where cyfoods.uid=cyimageinfo.id and cyimageinfo.type=1
    </select>

    <select id="find" resultType="com.cyxy.entity.CyFoods">
       select * from cyfoods where id=1
    </select>

    <select id="findCateFoods" resultType="com.cyxy.entity.vo.CategoryVo">
       select cyfoods.id,cyfoods.name,price,stock,uid,gid,cyfoods.type,cyimageinfo.url,cycategory.name cname
       from cyfoods,cyimageinfo,cycategory
       where cyfoods.uid=cyimageinfo.id and cyfoods.type=cycategory.id and cyfoods.type=#{id}
    </select>

    <select id="findFoodsContent" resultType="com.cyxy.entity.vo.FoodsInfoVo">
       select cyfoods.id,cyfoods.name,price,stock,uid,gid,cyfoods.type,cyimageinfo.url,cycategory.name cname,content,taste
       from cyfoods,cyimageinfo,cycategory,cyfoodsinfo
       where cyfoods.uid=cyimageinfo.id and cyfoods.type=cycategory.id and cyfoods.gid=cyfoodsinfo.id and cyfoods.id=#{id}
    </select>
</mapper>